MarioAnimationMap/MarioAnimationMap.xcodeproj/project.xcworkspace/xcuserdata/mihailzinovev.xcuserdatad/UserInterfaceState.xcuserstate
MarioAnimationMap/MarioAnimationMap.xcodeproj/project.xcworkspace/xcuserdata/mihailzinovev.xcuserdatad/UserInterfaceState.xcuserstate
MarioAnimationMap/MarioAnimationMap.xcodeproj/project.xcworkspace/xcshareddata
MarioAnimationMap/MarioAnimationMap.xcodeproj/xcuserdata
MarioAnimationMap/MarioAnimationMap.xcworkspace/xcuserdata
MarioAnimationMap/Pods/Pods.xcodeproj/xcuserdata
